/* ==== UTILITY ==== */

:root {
  --main-color: #db5f2e;
  --secondary-color: #7a7a7a;
  --light-color: #ccc;
  --dark-color: #222;
}

.bottom-line {
  height: 3px;
  width: 1rem;
  background: var(--main-color);
  display: block;
  position: absolute;
  margin: 0 auto 1rem auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--secondary-color);
  padding: 10px;
}

/* ==== LOGO ==== */

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  display: block;
  color: var(--main-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.logo .logo-color {
  color: var(--secondary-color); /* <-- Change Post to White */
  font-weight: 800;
}

/* ==== HEADER ==== */

.header-outer {
  padding: 75px 30px 40px 30px;
  background-color: rgb(233, 233, 233);
  margin: 0 auto;
}

.header-inner {
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.801),
      rgba(0, 0, 0, 0.322)
    ),
    url(/img/skater-3.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /* clip-path: polygon(0 0, 100% 0%, 100% 83%, 0 93%); */
}

.text-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  font-family: 'Playfair Display', serif;
}

.heading-primary-main,
.heading-primary-sub {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
}

.heading-primary-main {
  font-size: 70px;
}

.heading-primary-sub {
  font-size: 60px;
}
