/* ANIMATIONS */
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #f7f7f7; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #7a7a7a;
  padding: 0 2rem 2rem 2rem; }

.bottom-line {
  height: 0.3rem;
  width: 1rem;
  background: #eb5c23;
  display: block;
  position: absolute;
  margin: 0.5rem auto 1rem auto; }

.border-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); }

.logo {
  display: block;
  color: #eb5c23;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem; }
  .logo-color {
    color: #7a7a7a;
    /* <-- Change Post to White */
    font-weight: 800; }
  .logo-underline {
    border-bottom: 2px solid #eb5c23; }

.heading-primary {
  color: #fff;
  font-family: 'Lato', sans-serif; }
  .heading-primary-main, .heading-primary-second, .heading-primary-third {
    display: block;
    line-height: 1.1; }
  .heading-primary-main, .heading-primary-second {
    position: relative;
    font-size: 10.5rem;
    font-weight: 300;
    right: 1rem;
    letter-spacing: 0.1rem; }
  .heading-primary-third {
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.6rem; }

.heading-secondary {
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #eb5c23, #e29e7e, #eb5c23);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: scale(1.1); }

.heading-tertiary {
  font-size: 1.6rem;
  color: #444;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-signup {
  line-height: 1;
  text-transform: uppercase;
  color: #fff; }
  .heading-signup-main {
    display: block;
    font-size: 7rem; }
  .heading-signup-second {
    display: block;
    font-size: 7rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

/* ==== BUTTON ==== */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  /* Gives inline element some padding */
  border-radius: 0.4rem;
  transition: all 0.2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-main-color {
  background-color: #fff;
  color: #eb5c23;
  font-weight: 500; }

.btn-animated {
  animation: moveInButton 0.5s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #eb5c23;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #eb5c23;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #eb5c23;
  color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: -5%;
      top: -1rem; }
    .composition__photo--p2 {
      right: 0;
      top: 5rem; }
    .composition__photo--p3 {
      left: 10%;
      top: 12rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #eb5c23;
      transform: scale(1.07) translateY(-0.5rem);
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

#email {
  display: inline-block;
  margin-top: 1rem;
  background-color: #eb5c23;
  border: none;
  width: 50rem;
  height: 6rem; }
  #email::placeholder {
    padding: 0.3rem;
    color: #fff;
    font-size: 4rem;
    line-height: 1;
    border-bottom: 4px solid #fff; }
  #email:focus {
    outline: none;
    color: #fff;
    font-size: 4rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.9);
  transition: transform 0.2s; }
  .feature-box__icon {
    display: inline-block;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to bottom, #e29e7e, #eb5c23);
    -webkit-background-clip: text;
    color: transparent; }
    .feature-box__icon:hover {
      transform: scale(1.2); }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1);
    box-shadow: 0 3.5rem 7rem rgba(0, 0, 0, 0.9); }

@media (max-width: 800px) {
  .main-nav > ul {
    visibility: hidden; } }

.footer {
  background-color: #222;
  color: #f7f7f7;
  padding: 5rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #6e6e6e;
    padding-top: 2rem;
    display: inline-block; }
    .footer__navigation__social {
      border: none;
      padding-top: 2rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #eb5c23; }
  .footer__copyright {
    border-top: 1px solid #6e6e6e;
    padding-top: 2rem;
    width: 80%;
    float: right; }

/* ==== HEADER ==== */
.header-outer {
  background-color: #f7f7f7;
  margin: 0 auto; }
  .header-outer__inner {
    height: 85vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.603), rgba(14, 13, 13, 0.527), rgba(12, 12, 12, 0.418), rgba(29, 28, 28, 0.212), rgba(255, 255, 255, 0.075), #f7f7f7), url(/img/skater-3.jpeg);
    background-size: cover;
    background-position: center;
    position: relative; }
    .header-outer__inner__text-box {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .main-nav ul {
    display: flex; }
  .main-nav li {
    padding: 1rem 1.5rem;
    list-style: none; }
  .main-nav a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    .main-nav a:hover {
      border-color: #eb5c23; }
    .main-nav a.current {
      border-color: #eb5c23;
      color: #eb5c23;
      background-color: #f7f7f7;
      transition: all 0.2s; }
      .main-nav a.current:hover {
        border: #eb5c23;
        border-radius: 20px;
        background-color: #eb5c23;
        color: #fff;
        padding: 8px 18px; }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0 25rem 0; }

.section-features {
  margin-top: -5rem;
  padding: 25rem 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(247, 247, 247, 0.99)), url(/img/skater-features.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.section-signup {
  background-color: #eb5c23;
  position: relative;
  padding: 10rem 20rem; }
