@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:           Phone
600 - 900px:         Tablet Portrait
900 - 1200px:        Tablet Landscape
1200 - 1800px is where our normal styles apply
1800px + :           Big Desktop



$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography, general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == iphone {
    //450px / 16(1em)
    @media (max-width: 28.125em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    //600px / 16(1em)
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == phone-large {
    //750px / 16(1em)
    @media (max-width: 46.875em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px / 16(1em)
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px / 16(1em)
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1800px / 16(1em)
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
