/* ==== BUTTON ==== */

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2.5rem;
    display: inline-block; /* Gives inline element some padding */
    border-radius: 0.4rem;
    transition: all 0.2s;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &-main-color {
    background-color: $white-color;
    color: $main-color;
    font-weight: 500;
  }

  &-animated {
    animation: moveInButton 0.5s ease-out 1s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $main-color;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $main-color;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $main-color;
    color: $white-color;
    border-radius: 0.2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transform: translateY(0);
  }
}
