#email {
  display: inline-block;
  margin-top: 1rem;
  background-color: $complimentary-color;
  border: none;
  width: 50rem;
  height: 6rem;

  &::placeholder {
    padding: 0.3rem;
    color: $white-color;
    font-size: 4rem;
    line-height: 1;
    border-bottom: 4px solid $white-color;
  }

  &:focus {
    outline: none;
    color: $white-color;
    font-size: 4rem;
  }
}
