body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $secondary-color;
  padding: 1rem;
}

.bottom-line {
  height: 0.3rem;
  width: 1rem;
  background: $main-color;
  display: block;
  position: absolute;
  margin: 0 auto 1rem auto;
}

.border-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.logo {
  display: block;
  color: $main-color;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  background-color: #222;
  border: 2px solid burlywood;
  border-radius: 10rem;
  padding: 0.5rem 2.5rem;

  &-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  &-color {
    color: $secondary-color; /* <-- Change Post to White */
    font-weight: 800;
  }
}

.heading-primary {
  color: $white-color;
  font-family: 'Playfair Display', serif;

  &-main,
  &-second,
  &-third {
    display: block;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1.2;
  }

  &-main,
  &-second {
    font-size: 5.5rem;
  }

  &-third {
    font-size: 2.6rem;
  }
}
